{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="d-flex flex-row-reverse row h-100">
            <div class=" mr-3 col-6 col-md-6 my-auto">
                <h1 class="display-4 text-blue logo-font">
                    <strong> The perfect Speech for the perfect time! Maria</strong>
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="#" class="background-bg-head-btn btn-contact text-white btn btn-lg text-uppercase py-3">Book a free call and Learn more!</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
