{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Page Not Found{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="bg-404 m-6 rounded-4">
  <div class="row h-100">
    <div class="col col-lg-6 col-md-8 col-sm-12 m-auto text-center text-gold p-3">
      <hr>
      <img src="{% static 'images/logo.jpg' %}" 
          alt="brand icon" class="logo-icon float-left">
      <img src="{% static 'images/logo.jpg' %}" 
          alt="brand icon" class="logo-icon float-right">
      <h3 class="logo-font text-gold">Smart<strong>Speak</strong>Solutions</h3>
      <hr>
      <div class="card border-0 text-center">
        <img src="{% static 'images/error.jpg' %}" alt="404 image" class="img-fluid">
      </div>
      <br>
      <h3 class="pt-3">
          <a class="btn btn-aa mx-auto" 
             href="{% url 'home' %}" role="button">Home <i class="fa-solid fa-arrow-rotate-left"></i></a>
        </h3>
        <br>
    </div>
  </div>
</div>
{% endblock %}